{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1>HI This is ME</h1>
        <h1><marquee>MADHU</marquee></h1>
        <img src="{% static 'images/3.png' %}" alt="image" height="300px",width="400px" >
        <h2>
            and its my frnd vignesh</h2>
        <h3><img src=" {% static 'images/4.jpg' %}" height="300px",width="400px"></h3>
        
    </center>>
</body>
</html>